<ion-header>
  <ion-content [fullscreen]="true"> 
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Jogadores</ion-title>
  </ion-toolbar>


  <ion-img src= "/assets/Copa.jpeg"></ion-img>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>A</ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-label>Alison Gerd Boeck</ion-label>
    </ion-item>
  
  </ion-item-group>
  
  <ion-item-group>
    <ion-item-divider>
      <ion-label>B</ion-label>
    </ion-item-divider>
    <ion-item lines="none"></ion-item>
    
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>C</ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-label>Caio Aragão</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cristian Serafim</ion-label>
    </ion-item>
    <ion-item lines="">
      <ion-label>Cassio F E Rodrigues</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Chauler Almeida</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>D</ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-label>Djunire Rafael Rambo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Darlan Custodio</ion-label>
    </ion-item>
    <ion-item lines="">
      <ion-label>Dener Gabriel Lima Tavares</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>E</ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-label>Elton Francisco</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Eduardo</ion-label>
    </ion-item>
   
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>F</ion-label>
    </ion-item-divider>
    <ion-item lines="none"></ion-item>
    </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>G</ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-label>Gabriel Nunes Marques</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Geovani Rossato</ion-label>
    </ion-item>
    <ion-item lines="">
      <ion-label>Gustavo Leandro Martins</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Guilherme Alamini</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gustavo Rodrigues</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gustavo Oliveira</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gustavo Silva Deolinda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Guilherme Teixeira</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gustavo Matos</ion-label>
    </ion-item>
    
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>H</ion-label>
    </ion-item-divider>  
    <ion-item>
      <ion-label>Herlon Lima</ion-label>
    </ion-item>
   
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>I</ion-label>
    </ion-item-divider>

    <ion-item lines="none"></ion-item>
    
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>J</ion-label>
    </ion-item-divider>  
    <ion-item>
      <ion-label>Jhonata</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Jose Warmeling</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Jonas Melo</ion-label>
    </ion-item>
   <ion-item>
    <ion-label>João Paulo</ion-label>
   </ion-item>
   <ion-item>
    <ion-label>Julio Melo</ion-label>
   </ion-item>
   <ion-item>
    <ion-label>Johnny Daniel Sumén Aguirre</ion-label>
   </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>K</ion-label>
    </ion-item-divider>  
    <ion-item>
      <ion-label>Kewin Da Silva Dos Santos</ion-label>
    </ion-item>
   </ion-item-group>  

   <ion-item-group>
    <ion-item-divider>
      <ion-label>L</ion-label>
    </ion-item-divider>  
    <ion-item>
      <ion-label>Luiz Eduardo Lima</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Leonardo Daros Santos</ion-label>
    </ion-item>
   <ion-item>
    <ion-label>Luciano Beskow</ion-label>
    </ion-item>
   </ion-item-group>
    
   <ion-item-group>
         <ion-item-divider>
        <ion-label>M</ion-label>
      </ion-item-divider>  
      <ion-item>
        <ion-label>Maicon</ion-label>
      </ion-item>
      <ion-item>
        <iom-label>Maicon Douglas</iom-label>
      </ion-item>
      <ion-item>
        <ion-label>Maicon Vicente</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Milton Guilherme</ion-label>
      </ion-item>
     
    </ion-item-group>  

    <ion-item-group>
      <ion-item-divider>
        <ion-label>N</ion-label>
      </ion-item-divider>  
      <ion-item>
        <ion-label>Nathan Felipe</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Newiton Timm</ion-label>
      </ion-item>
   </ion-item-group>

   <ion-item-group>
    <ion-item-divider>
      <ion-label>O</ion-label>
    </ion-item-divider>  
     
    <ion-item lines="none"></ion-item>
</ion-item-group>

     <ion-item-group>
      <ion-item-divider>
        <ion-label>P</ion-label>
      </ion-item-divider>  
      <ion-item>
        <ion-label>Paulo Henrique</ion-label>
      </ion-item>
     </ion-item-group>

     <ion-item-group>
      <ion-item-divider>
        <ion-label>Q</ion-label>
      </ion-item-divider>  
      <ion-item lines="none"></ion-item>
    </ion-item-group>
    

      <ion-item-group>
        <ion-item-divider>
          <ion-label>R</ion-label>
        </ion-item-divider>  
        <ion-item>
          <ion-label>Raphael De Souza</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Renato da Silva Santos</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Rafael Eufrasio</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Rodrigo lafelice</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Renato Borges</ion-label>
        </ion-item>     
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>S</ion-label>
      </ion-item-divider>  
      <ion-item>
        <ion-label>Samuel Aguiar</ion-label>
      </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>T</ion-label>
        </ion-item-divider>  
        <ion-item>
          <ion-label>Tarciso</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Thales</ion-label>
        </ion-item>
     </ion-item-group>

<ion-item-group>     
      <ion-item-divider>
        <ion-label>U</ion-label>
      </ion-item-divider>
      <ion-item lines="none"></ion-item>  
      </ion-item-group>

       <ion-item-group>
        <ion-item-divider>
          <ion-label>V</ion-label>
        </ion-item-divider>
        <ion-item lines="">
          <ion-label>Victor Hugo Ramos</ion-label>
        </ion-item>  
         </ion-item-group>     
      

      <ion-item-group>
        <ion-item-divider>
          <ion-label>W</ion-label>
        </ion-item-divider>   
        <ion-item>
          <ion-label>Willian Tramotin</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Wellington Maciel de Oliveira</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>X</ion-label>
        </ion-item-divider>
        <ion-item lines="none"></ion-item>
        </ion-item-group>
      
        
        <ion-item-group>  
          <ion-item-divider>
            <ion-label>Y</ion-label>
          </ion-item-divider> 
          <ion-item lines="none"></ion-item> 
        </ion-item-group>

    <ion-item-group>
            <ion-item-divider>
              <ion-label>Z</ion-label>
            </ion-item-divider>
            <ion-item lines="none"></ion-item>
            </ion-item-group> 
      
  </ion-content>
</ion-header>

<ion-footer>
  <ion-toolbar color="secondary">
  </ion-toolbar>
</ion-footer>
