<ion-header>
  <ion-content [fullscreen]="true"> 
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
   <ion-title>Cadastro</ion-title>
  </ion-toolbar>


  <ion-img src= "/assets/Copa.jpeg"></ion-img>



  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input placeholder="Digite aqui"></ion-input>
  </ion-item>
  
  <ion-item fill="solid">
    <ion-label position="floating">Data de nascimento</ion-label>
    <ion-input placeholder="Digite aqui"></ion-input>
  </ion-item>
  
  <ion-item fill="outline">
    <ion-label position="floating">Função</ion-label>
    <ion-input placeholder="Digite aqui"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Exerce atividade fisica?</ion-label>
    <ion-button fill="start">
      Sim
    </ion-button>
        <ion-button fill="end">
      Não
    </ion-button>
  </ion-item>

  <ion-item fill="outline">
    <ion-label position="floating">Quantas vezes por semana?</ion-label>
    <ion-input placeholder="Digite aqui"></ion-input>
  </ion-item>


  <ion-item>
        <ion-label>Costuma praticar algum esporte?</ion-label>
        <ion-button fill="start">
          Sim
        </ion-button>
            <ion-button fill="end">
          Não
        </ion-button>
            </ion-item>

          </ion-content>
        </ion-header>
        
  <ion-footer>
    <ion-toolbar color="secondary">
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-footer>
  
